<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Webcron management :: Log in</title>
        {{ encore_entry_link_tags('security.login') }}

        {{ encore_entry_script_tags('security.login') }}
    </head>
    
    <body>
        <div class="container-fluid py-3">
            <div class="row justify-content-md-center">
                <div class="col-md-4 col-xs-12">
                    {{ include('flashes.html.twig') }}
                    <h1>Webcron management</h1>
                    <form class="form-horizontal" method="post" action="{{ path('login_check') }}">

                        <div class="mb-3">
                            <label for="name">Username</label>
                            <input type="text" name="name" class="form-control" id="name" placeholder="username">
                        </div>
                        <div class="mb-3">
                            <label for="passwd">Password</label>
                            <input type="password" name="passwd" class="form-control" id="passwd" placeholder="password">
                        </div>
                        <div class="form-check mb-3">
                            <input type="checkbox" name="autologin" id="autologin" value="autologin" class="form-check-input">
                            <label class="from-check-label" for="autologin">Remember, remember</label>
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>