################
### DATABASE ###
################
## Look at the url below to create a database URL
## https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url

## Mysql sample
DATABASE="mysql://root:letmein@localhost:3306/webcron?charset=UTF8"
## Sqlite sample
DATABASE="sqlite://storage/database.sqlite"

###############
### SECRETS ###
###############

## This secret value is used to encrypt secret values (eg. ssh-keys, http-auth passwords, etc)
## You should consider your already stored secret values lost when changing this value.
SECRET=ImNotThatSecretSoPleaseChangeMe0123456789
ENCRYPTION_METHOD="AES-256-CBC"
HASHING_METHOD="sha256"

###############
### COOKIES ###
###############

## This secret value is used to encrypt secret values (eg. ssh-keys, http-auth passwords, etc)
## You should consider your already stored secret values lost when changing this value.
COOKIE_LIFETIME=2592000