$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-close: "\f00d";
$icon-remove: "\f00d";
$icon-times: "\f00d";
$icon-clock-o: "\f017";
$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";
$icon-arrow-up: "\f062";
$icon-arrow-down: "\f063";
$icon-calendar: "\f073";
$icon-calendar-check-o: "\f274";
$icon-view: "\f002";
$icon-edit: "\f040";
$icon-run: "\f04b";
$icon-warning: "\f071";
$icon-delete: "\f1f8";

