{% if flashes is defined and flashes is not empty %}
    {% for flash in flashes %}
        <div class="alert alert-{{ flash.category }} alert-dismissible fade show" role="alert">
            {{ flash.content }}
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
            </button>
        </div>
    {% endfor %}
{% endif %}