{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
            {{ message | trans }}
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
            </button>
        </div>
    {% endfor %}
{% endfor %}
{% if app.request.server.get('DEMO_MODE') == 'true' %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ 'demomode.flashnotice' | trans }}
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
        </button>
    </div>
{% endif %}
