@import "/assets/scss/base";
@import "/assets/scss/icons";
@import "/node_modules/@eonasdan/tempus-dominus/dist/css/tempus-dominus.css";
@import "/assets/scss/tempus-dominus-dark";

tr.norun td {
  background-color: #f8d7da;

  @media (prefers-color-scheme: dark) {
    background-color: initial;
  }
}

tr.running td {
  background-color: #d4edda;

  @media (prefers-color-scheme: dark) {
    background-color: initial;
  }
}

.big-icon {
  font-size: 1.5rem;
}

.tag {
  display: inline-block;
  padding: 0.25em 1em;
}

td.status-col {
  width: 54px;
}
.blur {
  filter: blur(3px);
}

.run-overlay {
  .run-blur {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1500;
  }

  .run-content {
    font-size: 10px;
    height: 50px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
  }
}

#run_selecttime {
  .tempus-dominus-widget {
    box-shadow: none;

    &.timepicker-sbs {
      width: 19em;

      .td-row {
        flex-direction: column;

        .td-half {
          width: 19em;
        }
      }
    }
    &.dark {
      background-color: #2f2f2f;
    }
  }
}